[submodule "Animations/vendor/glm"]
	path = Animations/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Animations/vendor/logger"]
	path = Animations/vendor/logger
	url = https://github.com/ambrosiogabe/logger
[submodule "Animations/vendor/memory"]
	path = Animations/vendor/memory
	url = https://github.com/ambrosiogabe/memory
[submodule "Animations/vendor/nanovg"]
	path = Animations/vendor/nanovg
	url = https://github.com/memononen/nanovg
[submodule "Animations/vendor/dearimgui"]
	path = Animations/vendor/dearimgui
	url = https://github.com/ocornut/imgui
