_bin/**
_bin-int/**

*/_bin/**
*/_bin-int/**

**/ffmpeg/**
**/freetype/**

.vs/**
.vscode/**

**.sln
**.vcxproj
**.filters
**.user

build/

project.4coder
msbuild-build.bat
run.bat
myScene.bin
imgui.ini
tmp.ini

latex/**

*.make
Makefile

.idea/
cmake-build-*/

# These will get copied when the build runs
assets/grammars
assets/themes
