_bin/**
_bin-int/**

*/_bin/**
*/_bin-int/**

**/ffmpeg/**
**/freetype/**

.vs/**
.vscode/**

**.sln
**.vcxproj
**.filters
**.user

build/

project.4coder
msbuild-build.bat
run.bat
myScene.bin
imgui.ini

latex/**

*.make
Makefile